* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: cursive, arial;
}

body {
    background-image: url('./numbers.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;         /* keeps this from moving other elements and takes up all space still. */
    top: 0;
    left: 0;
    
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    margin: auto;
    position: relative;
}

.btn {
    background-color: #61041f;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid darkgray;
    color: #e8e9ea;
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.7);
    font-weight: 400;
    transition: transform 0.1s ease, box-shadow 0.1s ease; /* Add transition for smooth effect */
    opacity: 95%;
}

.btn:active {
    transform: scale(0.95); /* Scale the button slightly smaller */
   
}

.btn-row {
    display: flex;
}

.btn-row > .btn {
    flex: 1;
    width: 100px;
    height: 100px;
}

#zero {
    flex: 0 0 200px; 
}

#decimal {
    flex: 0 0 100px; 
}

#equals {
    flex: 0 0 100px; 
    height: 200px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #3a0212;
    font-weight: bolder;
    width: 100px;
    border: 1px solid darkgray;
    transition: transform 0.1s ease, box-shadow 0.1s ease; /* Add transition for smooth effect */
    opacity: 97%;
    font-size: 50px;
    color: #e8e9ea;;
}

#equals:active {
    transform: scale(0.95);
}

.operation {
    background-color: #c3083f;
    font-weight: 600;
    opacity: 85%;
    font-size: 30px;
}

#delete {
    background-color: #c3083f;
    width: 100px;
    height: 100px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid darkgray;
    color: #e8e9ea;
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.7);
    font-weight: 400;
    transition: transform 0.1s ease, box-shadow 0.1s ease; /* Add transition for smooth effect */
    opacity: 85%;
}

#delete:active {
    transform: scale(0.95); /* Scale the button slightly smaller */
}


#clear {
    background-color: #c3083f;
    opacity: 85%;
    font-size: 30px;
}

#display {
    width: 400px;
    height: 125px;
    font-size: 35px;
    text-align: right;
    background-color: #61041f;
    color: #e8e9ea;
    line-height: 125px;
    border: 1px solid #e8e9ea;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    font-weight: bolder;
    padding: 10px;
    overflow: hidden; /* required for ellipsis to work as well! */
    text-overflow: ellipsis; /* Adds "..." if text overflows */
    opacity: 95%;
}


